.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn {
  width: 100px;
  margin-right: 10px;
}

.btn-outline-danger:hover {
  background-color: #cc3300 !important;
}

.bi {
  fill: #CC3300;
  margin-right: 10px;
}

.bi:hover {
  fill: gray;
  margin-right: 10px;
}

.table>tbody>tr>td, 
.table>tbody>tr>th, 
.table>tfoot>tr>td, 
.table>tfoot>tr>th, 
.table>thead>tr>td, 
.table>thead>tr>th {
    vertical-align: middle;
}

.navbar, .footer {
  background-color: #ffddbb;
}

main {
  min-height: 79vh;
}

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

.four-o-four {
  font-size: 15ch;
  color: #CC3300;
}